<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous">

    </script>

</head>
<body>
<form id="chatForm" action="/chat/send">

    <input id="messageInput" onkeyup='saveValue(this);' name="message" type="text" placeholder="say something">
    <input id="nameInput" type="hidden" name="name" th:value="${name}">
    <input id="targetInput" type="hidden" name="target" th:value="${target}">
    <Button onclick="submitChatForm();" value="Send!" type="submit">Send</Button>

</form>
<div id="historyDiv" th:each="line : ${history}">
    <p th:text="${line}">
    </p>

</div>
<input type="hidden" id="inputIndex" th:value="${index}">

<button th:if="${index > 0}" onclick="pagination(-10)"> PREVIOUS </button>
<button th:if="${historyLength == 10}" onclick="pagination(10)"> NEXT </button>
<script>
    $( document ).ready(function() {
        let name = "" + $("#nameInput").val();
        let target = "" + $("#targetInput").val();
        let value = localStorage.getItem(name+target+"index");
        ${}
    });
    function submitChatForm() {
        clearSavedValue();
        $("#chatForm").submit();
    }

    let name = document.getElementById("nameInput").value;
    document.getElementById("messageInput").value = getSavedValue("messageInput@" + name);    // set the value to this input
    /* Here you can add more inputs to set value. if it's saved */

    //Save the value function - save it to localStorage as (ID, VALUE)
    function saveValue(e) {
        let id = e.id;  // get the sender's id to save it.
        let key = id + "@" + name
        let val = e.value; // get the value.
        localStorage.setItem(key, val);// Every time user writing something, the localStorage's value will override .
    }
    //get the saved value function - return the value of "v" from localStorage.
    function getSavedValue(v) {
        if (!localStorage.getItem(v)) {
            return "";// You can change this to your default value.
        }
        return localStorage.getItem(v);
    }

    function clearSavedValue() {
        let id = "messageInput";  // get the sender's id to save it.
        let key = id + "@" + name
        let val = ""; // get the value.
        localStorage.setItem(key, val);
    }

    function pagination(range) {
        let currentIndex = "" + $("#inputIndex").val();
        let index = parseInt(currentIndex) + range;
        let name = "" + $("#nameInput").val();
        let target = "" + $("#targetInput").val();
        let queryParam = {index: index, name: name, target: target}
        $.ajax({
            type: "GET",
            url: "/chat/pagination",
            data: queryParam,
            contentType: "application/json",
            dataType: "json",
            success: function (data) {
                let element = $("#historyDiv");
                element.empty();
                let html = "";
                for (let i = 0; i < data.length; i++) {
                    html += "<p>" + data[i] + "<\p>";
                }
                element.html(html);
                localStorage.setItem(name+target+"index", index);
                $("#inputIndex").val(index);
            }
        });
    }

</script>
</body>
</html>