<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Title</title>
    <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous">

    </script>
</head>
<body>
<div class="container-fluid mt-2">
    <div class="row">
        <div class="col-6">
            <h1>This is the dashboard</h1>
        </div>
        <div class="col-6" style="text-align: right">
            <a class="btn btn-primary" href="#" th:href="@{/logout}">Log Out</a>
        </div>
    </div>

    <div class="row">
        <div class="col-3">
            <div style="height: 50%;">
                <button th:attr="data-user=${name}" onclick="ShowNotifications(this)">Show notifications</button>
                <iframe style="height: 400px; width: 100%;" id="notifications"
                        th:src="'/chat/notifications?name=' + ${name}"
                        title="chat"></iframe>
            </div>
            <div style="height: 50%;">
                <div >Create Post</div>
                <iframe style="height: 400px; width: 100%;" id="newpost" th:src="'/post/create'"
                        title="chat"></iframe>
            </div>
        </div>
        <div class="col-6">
            <div style="height: 100%;">
                <div>Your News Feed</div>
                <iframe style="height: 97%; width: 100%;" id="newsfeed"
                        th:src="'/post'"
                        title="chat"></iframe>
            </div>
        </div>
        <div class="col-3">
            <div style="height: 50%">
                <div>Following</div>
                <iframe style="height: 400px; width: 100%;" id="followingView" th:src="'/person/following'"
                        title="chat"></iframe>
            </div>
            <div style="height: 50%">
                <div>All people</div>
                <iframe style="height: 400px; width: 100%;" id="peopleView" th:src="'/person'"
                        title="chat"></iframe>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

<script>
    $(document).ready(function () {
        refreshIframe();
    });

    function refreshIframe() {
        setTimeout(function () {
            let iframe = document.getElementById('notifications');
            let name = iframe.contentWindow.document.getElementById("nameInput").value;
            console.log(name);
            let target = iframe.contentWindow.document.getElementById("targetInput").value;
            console.log(target);
            let index = localStorage.getItem(name+target+"index");
            console.log(index);
            if(index != null && index != undefined){
                let query = "?name="+name+"&target=" + target + "&index=" + index;
                let url = "/chat" + query;
                iframe.src = url;
            }else{
                document.getElementById('notifications').contentWindow.location.reload();
            }
            refreshIframe()
        }, 10000);
    }

    function ShowNotifications(element) {
        let user = $(element).data("user");
        let url = "/chat/notifications?name=" + user;
        $("#notifications").attr('src', url);
        alert("changing notifications to :" + url)
    }
</script>

</html>