<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container" th:each="post : ${posts}">
    <div class="row">
        <div class="col-6">
            <div><br>POST:</br></div>
            <div th:text="${post.author}"></div>
            <div th:text="${post.text}"></div>
            <div th:if="${!post.taggedPeople.empty}">
                <b>Tagged People:</b>
                <ul th:each="taggedPerson : ${post.taggedPeople}">
                    <li th:text="${taggedPerson}"></li>
                </ul>
            </div>
            <div th:text="${post.timeStamp}"></div>
        </div>
    </div>
</div>
</body>
</html>