<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>
<div class="container" th:each="handleName : ${people}">
    <div class="row">
        <div class="col-3">
            <img th:src="${'/image/' + handleName}" style="height: 35px; width: 35px;"></img>
        </div>
        <div class="col-3">
            <a th:text="${handleName}"></a>
        </div>
        <div class="col-3">
            <button th:attr="data-target=${handleName},data-user=${username}" onclick="unfollow(this)">unfollow</button>
        </div>
        <div class="col-3">
            <button th:attr="data-target=${handleName},data-user=${username}" onclick="openChat(this)">chat</button>
        </div>
    </div>
</div>
<script>
    function unfollow(element) {
        let target = "" + $(element).data("target");
        let user = "" +$(element).data("user");
        const followdto = {follower:user, target:target}
        console.log(target + " " + user)
        let url = '/person/unfollow';
        $.ajax({
            type: "POST",
            url: url,
            data: JSON.stringify(followdto),
            dataType: "json",
            contentType: "application/json",
            success: function(data) {
                parent.peopleView.contentWindow.location.reload();
                parent.followingView.contentWindow.location.reload();
            }
        });
    }
</script>
<script>
    function openChat(element) {
        let target = $(element).data("target");
        let user = $(element).data("user");
        let url = '/chat?name=' + user + '&target=' + target;
        parent.notifications.src=url;
        alert("Starting chat with: " + target)
    }
</script>
<script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous">

</script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>